<h1><%= t "mail.first" %></h1>

<p><%= t "mail.second" %></p>

<%= link_to t("reset_password"), edit_password_reset_url(id: @user.reset_token,
                                                      email: @user.email) %>

<p><%= t "mail.third" %></p>

<p><%= t "mail.end" %></p>
